%p#notice= notice

.left-sidebar
  = link_to '/spy1.jpg' do
    = image_tag '/spy1_thumb.jpg', alt: @agent.code_name, class: "intelligence-photo"

.main-content
  %h3 Agent #{@agent.code_name}

  %p
    %strong Affiliation:
    = link_to @agent.agency.name, agency_path(@agent.agency)

  %p
    %strong Personal History:
    Unknown

  %p
    %strong Known Operations History:
    = link_to "#{@agent.github_link}", @agent.github_link

  %p
    %strong Attempt Contact:
    = mail_to @agent.email, "#{@agent.email}"

  %hr

  = link_to 'Edit', edit_agent_path(@agent)
  \|
  = link_to 'Back', agents_path
